header .logo svg {
  transition: transform 500ms;
  height: 1.5em;
}

header .logo path {
  transition: all 500ms;
}

header .logo:is(:hover, :focus) svg {
  animation: wiggle 0.5s;
}

header nav a {
  background-image: linear-gradient(var(--link-color), var(--link-color));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.15s ease-in-out;
  text-decoration: 1px solid var(--surface-2);
}

header nav a:hover,
header nav a[aria-current="page"] {
  background-size: 100% 0.1em;
}
