/** Default pages (e.g. post) */
main {
  flex-grow: 1;
  margin-inline: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: min(100%, var(--token-bp-5));
}

main:not(:has(.pagination)) {
  padding-bottom: var(--token-size-5);
}

main[data-layout="base"],
main[data-layout="page"],
main[data-layout="paginated"] {
  --size: 175px;
  --factor: 2;

  display: grid;
  gap: var(--token-size-2);
  grid-template-areas:
    "title sticker"
    "main sticker"
    "main side"
    "footer footer";
  grid-template-columns:
    min(
      var(--token-bp-3),
      calc(100% - var(--factor) * var(--size) - var(--token-size-2))
    )
    minmax(calc(var(--factor) * var(--size)), 1fr);
  grid-template-rows: auto auto 1fr;
  padding: var(--token-size-2);
}

main[data-layout="base"] {
  grid-template-areas:
    "title sticker"
    "side sticker"
    "main -";
}

main[data-layout="paginated"] {
  padding-bottom: 0;
}

/** utilities */
.--sticker > svg {
  width: var(--size);
  margin-inline: auto;
}

.--title {
  grid-area: title;
}

.--main {
  grid-area: main;
}

.--side {
  grid-area: side;
  width: 100%;
}

.--sticker {
  grid-area: sticker;
}

.--footer {
  grid-area: footer;
}

/** Media queries*= */
@media only screen and (max-width: 870px) {
  main[data-layout] {
    --size: 225px;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  main[data-layout="base"] {
    grid-template-areas:
      "sticker"
      "title"
      "side"
      "main";
  }

  main[data-layout="page"],
  main[data-layout="paginated"] {
    grid-template-areas:
      "sticker"
      "title"
      "main"
      "side"
      "footer";
  }
}
