/* Main wrapper */
article {
  --layout-threshold: calc(47rem + 2 * var(--token-size-0));

  container-type: inline-size;
  container-name: post;
  display: flex;
  flex-direction: column;
  padding: 0 var(--token-size-0);
}

/**
* TEXT FLOW
*/
article > * + * {
  margin-block-start: var(--token-size-2);
}

article * + h2 {
  margin-block-start: var(--token-size-3);
}

article h2 + p {
  margin-block-start: var(--token-size-00);
}

article h3 + p {
  margin-block-start: var(--token-size-000);
}

/**
* HEADERS
*/
article h1 {
  font-size: var(--token-size-4);
  margin-bottom: var(--token-size-000);
}

article :where(h2, h3) {
  position: relative;
  font-weight: 400;
  transition: color 300ms;
  outline: none;
}

article :where(h2 a, h3 a) {
  transition: all 300ms;
  cursor: pointer;
  color: var(--text-2);
  font-weight: 400;
  opacity: 0.4;
  text-decoration: none;
}

article h2:has(a):hover {
  color: var(--primary);
}

article h2 a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

article h2:hover a {
  opacity: 1;
}

/**
* GENERAL STYLING OF ELEMENTS
*/
article :where(img, pre, .info, .archive, .cp_embed_wrapper) {
  border-radius: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: var(--layout-threshold);
}

/**
 * IMAGES
 */
article img {
  box-shadow: var(--shadow-0);
}

/**
 * BLOCK QUOTES
 */
article blockquote {
  display: block;
  position: relative;
  padding: 0 var(--token-size-1);
  color: var(--text-2);
  font-style: italic;
}

article blockquote::before {
  background: var(--primary);
  content: "";
  height: calc(100% + 1px);
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

article blockquote cite {
  display: block;
  width: 100%;
  font-size: var(--token-size-00);
  font-style: italic;
  text-align: right;
  margin-top: var(--token-size-0);
  color: var(--primary);
}

/** INLINE CODE */
article :not(pre) > code {
  color: var(--accent);
}

/**
 * LISTS
 */
:where(ul, ol):not([class]) {
  list-style: outside;
  padding-left: 0;
}

:where(ul, ol):not([class]) li {
  margin-left: var(--token-size-1);
  padding-left: 0.5em;
}

:where(ul, ol):not([class]) li::marker {
  color: var(--primary);
  font-size: 0.825em;
  font-weight: 600;
}

ul:not([class]) li {
  list-style-type: "✦  ";
  padding-left: 0.5em;
}

ol:not([class]) {
  list-style: decimal outside;
}

/**
 * CODE BLOCKS
 */
pre {
  border: none;
  box-shadow: var(--elevation-accent);
  background-color: var(--token-neutral-1);
  color: var(--token-neutral-5);
  font-weight: 400;
}

pre code {
  padding: var(--token-size-0);
}

:not(pre) > code {
  color: var(--primary);
}

/** SYNTAX */
.token.punctuation,
.token.comment,
.token.operator {
  color: var(--token-neutral-3);
  font-weight: 300;
}

/** SYNTAX */
.token.keyword,
.token.tag {
  color: var(--token-neutral-3);
}

/** To overwrite the above colors */
.token.attr-value {
  color: var(--token-neutral-5);
}

.token.attr-name,
.token.selector {
  color: var(--code-primary);
}

.token.property,
.token.function {
  color: var(--code-secondary);
}

.token.string,
.token.number {
  color: var(--code-tertiary);
}

.token.function,
.token.comment,
.token.keyword {
  font-style: italic;
}

/** discard rounded corners on full width */
@container post (inline-size < 47rem) {
  article pre {
    border-top: 2px solid var(--surface-2);
    border-bottom: 2px solid var(--accent);
    box-shadow: none;
  }
}

/** smaller headers on smaller screens */
@container post (inline-size < 40rem) {
  article h1 {
    font-size: var(--token-size-3);
  }
}
