/**
 * REDIRECT LINKS
 *
 * Links with a clear intention to move users to a different page (e.g.
 * overview page).
 */

.btn {
  --button-bg: var(--primary);
  --button-shadow: var(--text-0);
  --button-text: var(--surface-0);
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--token-size-00);
  font-weight: bold;
  color: var(--button-text);
  background: var(--accent);
  padding: 0.5em var(--token-size-000);
  transition: 0.5s;
  box-shadow: var(--elevation-primary), var(--shadow-0);
}

.btn:is(:hover, :focus) {
  box-shadow: 0 0 0 0;

  color: var(--button-text);
  opacity: 1;
}

.btn:active {
  transform: scale(97%);
}
