.card {
  background-color: var(--surface-1);
  padding: var(--token-size-3) var(--token-size-1);
  position: relative;
  box-shadow: var(--elevation-accent);
  max-width: var(--card-width, var(--token-bp-3));
}
