/**
 * INFO BOX
 *
 * General style of the info-box primarily used in articles
 */

.info,
.archive {
  padding: var(--token-size-0);
  background-color: var(--surface-1);
  font-size: 0.9em;
  position: relative;
}

.info a,
.info a:visited,
.archive a,
.archive a:visited {
  text-decoration: underline;
  text-decoration-color: var(--text-0);
}

.info::before,
.archive::before {
  position: absolute;
  display: block;
  top: -0.5em;
  font-size: var(--token-size-00);
  color: var(--surface-0);
  padding: 0px 6px;
}

.info::before {
  content: "<aside />";
  box-shadow: var(--elevation-0);
  background-color: var(--primary);
}

.archive::before {
  content: "<archive />";
  background-color: var(--accent);
  box-shadow: var(--elevation-1);
  color: var(--surface-0);
}
