.title-section {
  --size: 175px;

  display: grid;
  grid-template-columns:
    min(var(--token-bp-3), calc(100% - var(--size) - var(--token-size-2)))
    minmax(var(--size), 1fr);
  gap: var(--token-size-2);
  align-items: center;
}

.title-section > svg {
  width: var(--size);
  margin-inline: auto;
}

@media only screen and (max-width: 670px) {
  .title-section {
    grid-template-columns: 1fr;
    grid-template-columns: auto;
    text-align: center;
  }

  .title-section > svg {
    --size: 225px;
    margin-inline: auto;
    grid-row: 1;
  }
}
