---
layout: base
---

<h1 class="--title">{{ title }}</h1>
<div class="--sticker">{% include sticker %}</div>


{{ content | safe }}

{% set older = pagination.href.next | objectify("url") %}
{% set newer = pagination.href.previous | objectify("url") %}
{% include 'components/pagination.njk' %}
