/**
 * GLOBAL STRUCTURAL COMPONENTS
 */
body {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--text-0);
  background-color: var(--surface-0);
}

::selection {
  color: var(--surface-0) !important;
  background: var(--text-0) !important;
}

/**
 * LINKS
 */
a:not([class]) {
  color: inherit;
  transition: all 200ms;
  text-decoration-color: hsl(from var(--link-color) h s l / 50%);
}

a:not([class]):is(:hover, :focus) {
  color: var(--link-color);
  text-decoration-color: var(--link-color);
}
