:root {
  /**
   * NEUTRAL
   */
  --token-neutral-0: hsl(215, 18%, 8%);
  --token-neutral-1: hsl(215, 18%, 22%);
  --token-neutral-2: hsl(215, 18%, 36%);
  --token-neutral-3: hsl(215, 18%, 78%);
  --token-neutral-4: hsl(215, 24%, 92%);
  --token-neutral-5: hsl(215, 24%, 98%);

  /**
   * BRAND COLORS
   */
  --token-brand-1: #f6734a;
  --token-brand-2: #ffeea4;
  --token-brand-3: #4cd9c1;
  --token-brand-4: #1c756a;

  /**
   * OVERWRITE OF FEO TOKENS
   */
  --token-size-000: clamp(0.72rem, 0.7013rem + 0.0936vw, 0.7738rem);
  --token-size-00: clamp(0.9rem, 0.8543rem + 0.2287vw, 1.0315rem);
  --token-size-0: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
  --token-size-1: clamp(1.4063rem, 1.2579rem + 0.742vw, 1.8329rem);
  --token-size-2: clamp(1.7578rem, 1.5194rem + 1.192vw, 2.4432rem);
  --token-size-3: clamp(2.1973rem, 1.8287rem + 1.8427vw, 3.2568rem);
  --token-size-4: clamp(2.7466rem, 2.1919rem + 2.7735vw, 4.3413rem);
  --token-size-5: clamp(3.4332rem, 2.6145rem + 4.0935vw, 5.787rem);

  /**
   * FONT FAMILY
   */
  --sans-serif:
    Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;

  /**
   * BORDERS
   */
  --border-size-0: 2px;
  --border-size-1: calc(0.175 * var(--token-size-0));

  --border-primary: color-mix(in oklab, var(--primary) 60%, var(--surface-0));
  --border-accent: color-mix(in oklab, var(--accent) 60%, var(--surface-0));

  /**
   * SHADOW & ELEVATION
   */
  --shadow-0:
    0 3px 3px hsl(from var(--token-brand-1) h s l / 0.1),
    0 6px 6px hsl(from var(--token-brand-1) h s l / 0.1),
    0 12px 12px hsl(from var(--token-brand-1) h s l / 0.1);

  --elevation-primary:
    -0.25em -0.25em 0px 0px var(--surface-2),
    0.25em 0.25em 0px 0px var(--primary);

  --elevation-accent:
    -0.25em -0.25em 0px 0px var(--surface-2),
    0.25em 0.25em 0px 0px var(--accent);
  /**
   * LIGHT THEME
   */
  color-scheme: light;
  accent-color: var(--primary);
  --text-0: var(--token-neutral-0);
  --text-1: var(--token-neutral-1);
  --text-2: var(--token-neutral-2);
  --surface-0: var(--token-neutral-5);
  --surface-1: var(--token-neutral-4);
  --surface-2: var(--token-neutral-3);

  --primary: var(--token-brand-1);
  --accent: var(--token-brand-4);

  --code-primary: var(--token-brand-2);
  --code-secondary: var(--token-brand-1);
  --code-tertiary: var(--token-brand-3);
}

/**
 * DARK THEME
 */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text-0: var(--token-neutral-5);
    --text-1: var(--token-neutral-4);
    --text-2: var(--token-neutral-3);
    --surface-0: var(--token-neutral-0);
    --surface-1: var(--token-neutral-1);
    --surface-2: var(--token-neutral-2);

    --primary: var(--token-brand-1);
    --accent: var(--token-brand-2);
  }
}
