---
layout: page
width: 5
picture: svg/sticker-coffee.svg
title: Some quick things about me
description: User manual
---

<section class="sidebar --right --threshold-0 --gap-3">
  <dl class="info-section">
    <dt>Who.</dt>
    <dd>
      I am a Dutch software engineer, specialised in the web platform as a
      whole. I enjoy <a href="/writing">writing</a> about all the exciting new
      stuff I encounter about the web development and security for the web. Like
      many, I drink a lot of coffee to get throughout the day. Those two small
      kids of mine certainly won't help cut down on the caffeine intake. But
      whenever I have time and energy, and I am not working on
      <span class="italic">interrupted</span> (previously crinkles) or
      <a href="https://feo.interrupted.dev">feo.css</a>, I do love to play some
      videogames. It is no secret that Pokemon is my favorite franchise.
    </dd>

    <dt>What.</dt>
    <dd>
      I specialize in development around the web platform. In particular
      <span class="tag">CSS</span>, <span class="tag">architecture</span>, and
      <span class="tag">security</span>. I am always open for open conversations
      around mentoring, consulting, or reviewing on these topics.
    </dd>

    <dt>Technologies.</dt>
    <dd>
      <ul>
        <li><span class="bold">Web</span>: HTML, CSS & JavaScript</li>
        <li>
          <span class="bold">Package development</span>: JavaScript & TypeScript
        </li>
        <li>
          <span class="bold">UI frameworks</span>: Svelte(Kit), React, Eleventy
        </li>
        <li>
          <span class="bold">Architecture</span>: iSAQB, C4, MermaidJS, PlantUML
        </li>
        <li><span class="bold">Security</span>: Python, bash</li>
      </ul>
    </dd>

    <dt>Where.</dt>
    <dd>I live in the Netherlands with my family.</dd>

    <dt>Work.</dt>
    <dd>
      I work for Finaps a (small-ish) software agency based in Amsterdam, the
      Nethelands. Here I lead a department of ~15 software engineers, and lead
      our technical innovation initiatives.
    </dd>

    <dt>Pokemon.</dt>
    <dd>
      I am a big pokemon fan and not afraid to show it. These are currently my
      favorite pokemons. Feel free to make assumptions about me based on them.
    </dd>
    <dd>
      <ul>
        <li>
          <span>Flareon</span>: I think this is my favorite at the moment. The
          Eeveelutions are popular in my family. And as a genwunner that always
          used Squirtle, I needed a fire-type and this was always the one.
          Fluffy but undervalued. The color-scheme inspired the darkmode colors
          of this site actually.
        </li>
        <li>
          <span>Squirtle</span>: the very first pokemon I chose in Pokemon Blue.
          As a child I could not get enough of this one.
        </li>
        <li>
          <span>Flygon</span>: this one just stuck around after playing Pokemon
          Ruby.
        </li>
        <li>
          <span>Flapple</span>: who doesn't like a small frantically flying
          apple? Especially the green shiny looks spectacular.
        </li>
        <li>
          <span>Rowlet</span>: I love owls in general, and that little bow tie
          puts it in front of HootHoot for me.
        </li>
      </ul>
    </dd>
  </dl>
  <aside class="flex --column --gap-1">
    <div class="card | flex --column --center">
      <h2 class="mb-2">You can find me here</h2>
      {% include "partials/socials.njk" %}
      <a href="/uses" class="mt-2 | btn">Or take a look at my /uses page.</a>
    </div>
  </aside>
</section>
